# Debug, release and temp files
vendor/zanzapack/zanzapack
coverage
build

# Zanzarah parsed data files
/editor/data/_fb*.fbs.json
public/data
/tmp

# Dependency directory
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

# OS X internals
.DS_Store
.AppleDouble
.LSOverride
._*
